.socialmedia {
    display: flex;
    justify-content: space-between;
}
.myproducts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.changecurency{
    border: none !important;
}
.modal.show{
  
    padding-top: 25% !important;
}