@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}


.socialmedia {
    display: flex;
    justify-content: space-between;
}
.myproducts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.changecurency{
  margin: 3px;
    border: none !important;
}
.modal.show{
  
    padding-top: 25% !important;
}
.card1 {
  height: 300px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: palegoldenrod;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}



.image1 img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.subscribe1 {
  flex: 1;
  margin-left: 2rem;
  color: black;
}

.subscribe1 p {
  margin: 1rem 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.subscribe1 form {
  display: flex;
  align-items: center;
}

.subscribe1 input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  outline: none;
  border: 1px solid #94949c;
  background: transparent;
  color: #94949c;
  font-weight: 300;
}

.subscribe1 button {
  padding: 0.75rem;
  border-radius: 0.25rem;
  outline: none;
  margin-left: 0.5rem;
  border: 1px solid #93c814;
  background-color: #93c814;
  color: #303037;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.subscribe1 button:hover {
  background: transparent;
  color: #93c814;
}

@media (max-width: 600px) {
  /* télephone */
  .jewerllypro {
    margin-bottom: 10px !important;
}
#offsp {
  background-color: rgba(0,0,0,.5) o !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  top: 30% !important;
}
#shopbutt {
  background-color: #bb5644 !important;
  border: none !important;
  border-radius: 5px;
  cursor: pointer !important;
  padding: 6px 6px !important;
  top: 65% !important;
}
.promotion{
  background-color: #413732 !important;
  margin: 18px 0px 17px 0px !important;
  height:950px !important;
}
  .image1 {
    width: 30% !important;
}
#title3{
  font-size: calc(1rem + .6vw) !important;
}
#category{
  margin: 18px 0px 17px 0px !important;
}
#oneHomeCard{
  margin: 16px !important;
}
#thisRow{
  margin-left: calc(var(--bs-gutter-x)*-.5) none !important;
    margin-right: calc(var(--bs-gutter-x)*-.5) none !important;
}
}

@media (min-width: 600px) {
  /* web */
  #category{
    margin-top: 10px !important;
  }
  .image1 {
    width: 450px !important;
}
 
 
}
.carousel .thumb img {
  height: 100px !important;
}
.carousel .thumbs {
  justify-content: center;
  display: flex;
}
.promotion{
  background-color: #413732;
  margin: 18px 0px 17px 0px;
  height: 853px;
}
#promo{
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding-top: 5%;
  color: white;
  box-shadow: 10px 5px 5px;
}
.mycardshome{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px 0px;
}
#carousa{
  margin: 20px;
}
.w-100 {

  height: 400px;
}

.MuiCardContent-root.css-1qw96cp {
  width: 180px !important;
}
.jewerllypro{
  
color: white;
font-size: 90px;
border: solid 1px white;
width: 140px;
height: 188px;
padding: 24px;
cursor: pointer;

}
.jewerllyicons{
  margin-top: 15%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.jewerllypro:hover{
  margin-top: -15px;
   color: #bb5644;
}
#oneHomeCard{
  margin-bottom: 10px;
}
#offsp{
  position: absolute; 
  top: 50%;
   left: 50%;
    transform: translate(-50%, -50%);
     background-color: rgba(0, 0, 0, 0.5);
      color: white;
       padding: 10px;
        font-size: 18px; 
        font-weight: bold;
}
#shopbutt{
  position: absolute;
   top: 70%;
    left: 50%;
     transform: translate(-50%, -50%);
      background-color: #bb5644;
       color: white;
        padding: 10px 20px;
         border: none;
          border-radius: 5px; 
          cursor: pointer
}