@media (min-width:600px) {
  .mynavbar{
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .mycarousel {
   width: 500px;
  }
  #search{
    width: 200px !important;
  }
  #productinfo{
    margin-bottom: 300px;
    margin-top: 50px;

  }
}
@media (min-width: 900px) {
 
  #search{
    width: 350px !important;
  }
  #allsearch{
    margin-right: 115px !important;
  }
  #productinfo{
    margin-bottom: 300px;

  }
}
.mycarousel{
  width: 1200px;

}