/* Video Banner Container */
.video-banner {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  @media (max-width: 600px) {
    /* télephone */
    .video-banner {
        /* position: relative; */
        width: 100%;
        height: 35vh;
        overflow: hidden;
      }
      .content h1 {
        font-size: 2rem !important;
        margin-bottom: 0.5rem !important;
      }
      
    }
  /* Video Styling */
  .video-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  /* Overlay for Text */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  /* Content Styling */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .content p {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 900px) {
    .video-banner {
      margin-top: -67px; /* Font size for PC screens (adjust as needed) */
    }
  
  }