/* StepOneValidateOrder.css */

.cart-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .produit-column {
    width: 30%;
    padding: 10px;
  }
  
  .product-image {
    width: 80px;
    height: 80px;
  }
  
  .cart-total {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .cart-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .continue-button,
  .confirm-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .continue-button {
    background-color: #00a152 !important; /* Green color */
  }
  
  .confirm-button {
    background-color: #00b04f !important; /* Blue color */
  }
  
  /* Add additional styling as needed */
  