/* ... (existing styles) ... */

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .link {
      display: none;
    }
  
    .nav-links-MobileMenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      list-style: none;
      box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      left: 0;
      top: 8vh;
      width: 100%;
      background-color: white;
      z-index: 888;
    }
  
    .nav-links-MobileMenu li {
      width: 100%;
      text-align: center;
      line-height: 40px;
    }
  
    .nav-links-MobileMenu a {
      color: #333;
      font-size: 18px;
      text-decoration: none;
    }
  
    .close,
    .open {
      position: absolute;
      top: 35px;
      right: 20px;
      color: #ff014f;
      display: block;
      font-size: 25px;
      z-index: 999;
    }
  
    .close {
      right: 45%;
    }
  
    .close.home-btn {
      background: linear-gradient(145deg, #e2e8ec, #ffffff);
      color: #ff014f;
      border-radius: 50%;
      padding: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  
    .header.active {
      height: 10vh;
    }
  }
  